## The following requirements were added by pip freeze:
ansible==7.0.0
ansible-core==2.11.5
cffi==1.14.6
cryptography==39.0.1
enum34==1.1.10
ipaddress==1.0.23
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.9
pycparser==2.20
pyparsing==2.4.7
PyYAML==5.4.1
resolvelib==0.5.4
six==1.16.0
virtualenv==20.26.6
